.contact {
    background-image: url(../images/footer1.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    font-family: sans-serif;
    color: #5E3B37;
    height: 40vh;
}

.btn-book {
    background-color: #484872;
    color: white;
    cursor: pointer;
    border: 2px solid #484872;
    border-radius: 10px;
    transition: all 0.5s ease-in-out;
}

.btn-book:hover {
    background-color: transparent;
    border: 2px solid #484872;
    color: #484872;
}