.menu {
    background-image: url(../images/menu/text2.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    font-family: sans-serif;
    color: #5E3B37;
    height: 40vh;
}